*{

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

div{

    text-align: center;

}

#search-bar{

    display: flex;
    flex-direction: row;
    

}

#search-input{

    height: 20px;
    width: auto;
    align-self: center;

}

#search-button{

    height: 20px;
    width: 20px;
    background-image: url("./src/images/search.png");
    background-size: cover;

}
