*{

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #006a87;
    color: whitesmoke;

}


div{

    text-align: center;

}

#title{

    padding-top: 2%;
    font-size: 22px;

}

#search-title{

    padding-top: 2%;

}

#search-bar{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1%;

}

#search-input{

    height: 20px;
    width: auto;
    background-color: whitesmoke;
    color: black;

}

#search-button{

    height: 20px;
    width: 20px;
    background-image: url("./src/images/search.png");
    background-size: cover;
    background-color: whitesmoke;

}

#forecast{

    padding-top: 4%;

}

#city{

    font-size: 22px;

}

#weather{

    font-size: 18px;
    font-weight: bold;
    padding-top: 2%;

}

#main-temp{

    font-size: 26px;
    font-weight: bolder;

}

#temp-divs{

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 1%;

}